main{
    margin: 0;
    padding: 10px;
}

.paragraph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.paragraph > div {
    border-color: black; 
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    width: 250px;

    display:flex;
    flex-direction: column;
}

footer{
    margin: 0;
    padding: 10px;
}

img { 
    width: 100%;
}